{% extends "base.html" %}

{% block page_title %}Reset Password{% endblock page_title %}

{% block main_content %}
<section class="mt-4">
    <h2 class="mb-3">Reset Password</h2>
    <p>Please enter your new password below.</p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="New Password") }}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control", placeholder="Confirm New Password") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</section>
{% endblock main_content %}
