{% extends "base.html" %}

{% block page_title %}Forgot Password{% endblock page_title %}

{% block main_content %}
<section class="mt-4">
    <h2 class="mb-3">Forgot Password</h2>
    <p>If you forgot your password, enter your email address below to reset it.</p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Your Email Address") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</section>
{% endblock main_content %}
